/* Start Variable */
:root {
    --main-color: #efe0da;
    --second-color: #fbf3ec;
    --third-color: #d3af9e;
    --section-color: initial;
    --main-transition: 0.5s;
    --section-padding: 50px;
    --section-padding: 50px;
    --font-weight: normal;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
}

/* End Variable */

/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.goto-up {
    position: fixed;
    width: 40px;
    height: 40px;
    color: var(--second-color);
    background-color: black;
    border-radius: 5px;
    right: 50px;
    bottom: 40px;
    text-decoration: none;
    font-size: 22px;
    z-index: 500;

}

/* FrameWork */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FrameWork */

/* اعملت هاي علشان بدي اللون اللي ورا يملا الشاشة لكن الكونتنت اللي ورا تملا من الاول للاخر */
.container {
    /* كتبنا ال بادنك علشان الكلام في نسخة الموبايل ما يبلش من اول الشاشة */
    padding-left: 15px;
    padding-right: 15px;
    /* علشان الكونتينر يمسك العناصر في النص */
    margin-left: auto;
    margin-right: auto;
} 

/* Small screens */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
/* End Global Rules */

/* Start Component */

/* End Component */

/******************************************************************************************************/

/* Start Header */
header {
    position: relative;
    z-index: 1;
    background: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 767px) {
    header .container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media (max-width: 991px) {
    header .container {
        justify-content: center;
        gap: 25px;
    }
}

header .container .logo {
    color: var(--section-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    height: 73.56px;
    font-family: 'Satisfy', cursive;
    animation: go 3s linear infinite alternate;
}

@keyframes go {
    0%, 100% {transform: translateX(0);}
    50% {transform: translateX(25px);}
}

@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
        height: 60px;
    }
}

header nav .main-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 767px) {
    header nav {
        display: none;
    }
}

header nav .main-nav > li > a {
    color: var(--section-color);
    height: 73.56px;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 8px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    header nav .main-nav > li > a {
        height: 40px;
    }
}

header nav .main-nav > li > a::before,
header nav .main-nav > li > a::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--third-color);
    transition: var(--main-transition);
}

header nav .main-nav > li > a::before {
    left: 0;
    top: 0;
}

header nav .main-nav > li > a::after {
    right: 0;
    bottom: 0;
}

header nav .main-nav > li > a:hover::before,
header nav .main-nav > li > a:hover::after {
    height: 100%;
}

header nav .main-nav > li > a:hover {
    color: var(--third-color);
    border-color: white;
}

@media (max-width: 767px) {
    header .main-nav > li > a {
       padding: 10px;
       font-size: 15px;
       height: 40px;
    }
}

header .toggle-menu {
    color: var(--section-color);
    font-size: 25px;
    width: 400px;
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    header .toggle-menu {
        display: none;
    }
}

header .toggle-menu ul.waseem {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    background-color: var(--main-color);
    width: 100%;
    display: block;
    z-index: 100;
    padding: 20px 15px 40px;
    opacity: 0;
    transition: var(--main-transition);
}

header .toggle-menu ul.waseem li {
    padding: 20px 0;
}

header .toggle-menu > ul.waseem > li > a {
    color: var(--section-color) !important;
    font-size: 20px;
    width: 160px !important;
    font-weight: bold !important;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
    header .toggle-menu:hover > ul.waseem {
        opacity: 1;
    }
}

header nav .main-nav > li {
    height: 73.56px;
}

/* End Header */

/******************************************************************************************************/

/* Start landing */
.landing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../image/landing.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
}

.landing .box {
    color: var(--section-color);
    background-color: white;
    padding: 30px;
    text-align: center;
    max-width: 100%;
    width: 500px;
    margin: 50px auto;
}

@media (max-width: 767px) {
    .landing .box {
        width: 400px;
    }
}

.landing .box h1 {
    font-size: 50px;
    font-family: 'PT Serif', serif;
}

@media (max-width: 767px) {
    .landing .box h1 {
        font-size: 35px;
    }
}

.landing .box p {
    max-width: 350px;
    margin: 15px auto;
    line-height: 1.6;
}

.landing .box a {
    display: block;
    color: var(--section-color);
    background-color: var(--third-color);
    padding: 10px 20px;
    max-width: 150px;
    margin: 20px auto;
    font-weight: bold;
}
/* End landing */

/******************************************************************************************************/

/* Start Question */
.question {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
    position: relative;
}

.question .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

@media (max-width: 767px) {
    .question .container {
        flex-direction: column;
    }
}

.question .text {
    flex: 1;
    color: var(--section-color);
    text-align: center;
}

.question .text h1 {
    font-size: 50px;
    font-family: 'PT Serif', serif;
}

@media (max-width: 767px) {
    .question .text h1 {
        font-size: 40px;
    }
}

.question .text p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 550px;
}

@media (max-width: 991px) {
    .question .text p {
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .question .text p {
        margin: 0 auto;
    }
}
/* End Question */

/******************************************************************************************************/

/* Start Imagin it */
.imagen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

@media (max-width: 767px) {
    .imagen {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding-bottom: var(--section-padding);
    }
}

.imagen img {
    max-width: 100%;
    width: 50%;
    height: 100%;
}

@media (max-width: 767px) {
    .imagen img {
        width: 100%;
    }
}

.imagen .text {
    text-align: center;
    color: var(--section-color);
    margin: 0 auto;
}

.imagen .text h1 {
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

.imagen .text p {
    line-height: 1.6;
    padding:  0 20px;
    font-weight: bold;
    margin: 10px auto;
    max-width: 500px;
}
/* End Imagin it */

/******************************************************************************************************/

/* Start Gain Free */
.access {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
    position: relative;
}

.access .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 767px) {
    .access .container {
        flex-direction: column;
        text-align: center;
    }
}

.access .text h1 {
    font-family: 'PT Serif', serif;
    font-size: 50px;
}

@media (max-width: 767px) {
    .access .text h1 {
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .access .text h1 {
        font-size: 45px;
    }
}

.access img {
    max-width: 100%;
    width: 700px;
    filter: drop-shadow(0 10px 10px #777);
}
/* End Gain Free */

/******************************************************************************************************/

/* Start CV */
.cv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

@media (max-width: 767px) {
    .cv {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding-bottom: var(--section-padding);
    }
}

.cv img {
    max-width: 100%;
    width: 50%;
    height: 100%;
}

@media (max-width: 767px) {
    .cv img {
        width: 100%;
    }
}

.cv .text {
    text-align: center;
    color: var(--section-color);
    margin: 0 auto;
}

.cv .text h1 {
    font-family: 'PT Serif', serif;
    font-size: 60px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .cv .text h1 {
        font-size: 50px;
    }
}

.cv .text p {
    line-height: 1.6;
    padding:  0 20px;
    font-weight: bold;
    margin: 10px auto;
    max-width: 500px;
}

.cv .text h2 {
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
    font-size: 60px;
}

@media (max-width: 767px) {
    .cv .text h2 {
        margin-bottom: 30px;
    }
}
/* End CV */

/******************************************************************************************************/

/* Start Learn */
.learn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: var(--second-color);
    position: relative;
}

@media (max-width: 767px) {
    .learn {
        flex-direction: column;
        gap: 40px;
        padding-bottom: var(--section-padding);
    }
}

.learn .text {
    color: var(--section-color);
    margin: 0 auto;
    padding: 0 50px;
}

.learn .text h1 {
    font-family: 'PT Serif', serif;
    font-size: 50px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .learn .text h1 {
        text-align: center;
        font-size: 45px;
    }
}

.learn .text ul li {
    color: var(--section-color);
    position: relative;
    margin-left: 60px;
}

.learn .text ul li::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--third-color);
}

.learn .text ul i {
    color: var(--third-color);
    font-size: 40px;
    position: relative;
    top: 35px;
    left: 15px;
}

.learn .text ul li h2 {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.learn .text ul li p {
    line-height: 1.6;
    max-width: 400px;
}

.learn .image {
    background-image: url(../image/learn\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    width: 50%;
    min-height: 90vh;
    position: relative;
}

@media (max-width: 767px) {
    .learn .image {
        display: none;
    }
}

.learn .image img {
    max-width: 100%;
    width: 350px;
    outline: 10px solid white;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 991px) {
    .learn .image img {
        display: none;
    }
}
/* End Learn */

/******************************************************************************************************/

/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
    position: relative;
}

.features .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.features .grid .box {
    text-align: center;
    max-width: 100%;
}

.features .grid .box i {
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
}

.features .grid .box p {
    color: var(--section-color);
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.6;
}
/* End Features */

/******************************************************************************************************/

/* Start Devices */
.devices {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
    position: relative;
}

.devices .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.devices img {
    max-width: 100%;
    filter: drop-shadow(0 10px 10px #777);
}

.devices .text {
    text-align: center;
}

.devices .text p {
    margin: 0 auto 40px;
    max-width: 700px;
    color: var(--section-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .devices .text p {
        font-size: 18px;
    }
}

.devices .text a {
    display: block;
    color: var(--section-color);
    background-color: var(--third-color);
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .devices .text a {      
        font-size: 25px;
    }
}
/* End Devices */

/******************************************************************************************************/

/* Start Team */
.team {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
    position: relative;
}

.team .container > h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}

.team .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    margin-top: 70px;
}

.team .grid .box {
    text-align: center;
    max-width: 100%;
    position: relative;
}

.team .grid .box .text {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px 0;
}

.team .grid .box .text img {
    max-width: 100%;
    width: 100px;
    border-radius: 50%;
    outline: 4px solid var(--third-color);
    margin-top: -70px;
    margin-bottom: 20px;
}

.team .grid .box .text h1 {
    color: var(--section-color);
    font-weight: bold;
}

.team .grid .box .text span {
    color: var(--section-color);
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

.team .grid .box p {
    color: var(--section-color);
    line-height: 1.6;
    font-weight: bold;
}
/* End Team */

/******************************************************************************************************/

/* Start sign */
.sign {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../image/footer\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    position: relative;
}

.sign .box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--section-color);
    background-color: white;
    padding: 30px;
    text-align: center;
    max-width: 100%;
    width: 500px;
}

@media (max-width: 767px) {
    .sign .box {
        width: 350px;
    }
}

.sign .box h1 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 45px;
}

.sign .box p {
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 30px;
}

.sign .box a {
    color: var(--section-color);
    background-color: var(--third-color);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
}
/* End sign */

/******************************************************************************************************/

/* Start With the Course */
.course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: var(--second-color);
    position: relative;
}

@media (max-width: 767px) {
    .course {
        flex-direction: column;
        gap: 40px;
        padding-bottom: var(--section-padding);
    }
}

.course .text {
    color: var(--section-color);
    margin: 0 auto;
    padding: 0 50px;
}

.course .text h1 {
    font-family: 'PT Serif', serif;
    font-size: 50px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .course .text h1 {
        text-align: center;
        font-size: 35px;
    }
}

.course .text ul li {
    color: var(--section-color);
    position: relative;
    margin-left: 60px;
}

.course .text ul li::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--third-color);
}

.course .text ul i {
    color: var(--third-color);
    font-size: 40px;
    position: relative;
    top: 35px;
    left: 15px;
}

.course .text ul li h2 {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.course .text ul li p {
    line-height: 1.6;
    max-width: 400px;
}

.course img {
    max-width: 100%;
    width: 50%;
    height: 100%;
}

@media (max-width: 767px) {
    .course img {
        width: 100%;
    }
}
/* Start With the Course */

/******************************************************************************************************/

/* Start Package price */
.package {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
    position: relative;
}

.package .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.package .grid .box {
    background-color: var(--second-color);
    text-align: center;
    max-width: 100%;
}

.package .grid .box h1 {
    color: var(--section-color);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}

.package .grid .box img {
    max-width: 100%;
}

.package .grid .box ul {
    padding: 10px 0;
}

.package .grid .box ul li i {
    color: var(--third-color);
    margin-right: 10px;
}

.package .grid .box ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.package .grid .box .price {
    background-color: var(--third-color);
    padding: 15px;
    text-align: center
}

.package .grid .box .price span {
    color: var(--second-color);
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-weight: bold;
}
/* Start Package price */

/******************************************************************************************************/

/* Start Sign up today */
.sign-today {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--second-color);
    position: relative;
}

.sign-today .main-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1189px) {
    .sign-today .main-sign {
        flex-wrap: wrap;
    }
}

.sign-today .main-sign .text {
    text-align: center;
}

.sign-today .main-sign .text h1 {
    color: var(--section-color);
    font-size: 60px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
}

@media (max-width: 1189px) {
    .sign-today .main-sign .text h1 {
        font-size: 50px;
    }
}

.sign-today .main-sign .text a {
    color: var(--section-color);
    background-color: var(--third-color);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.sign-today .main-sign img {
    max-width: 100%;
    width: 900px;
    filter: drop-shadow(0 10px 10px #777);
}
/* Start Sign up today */

/******************************************************************************************************/

/* Start Footer */
footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
    position: relative;
}

footer .main-footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 767px) {
    footer .main-footer {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        text-align: center;
    }
}

footer .title h1 {
    font-size: 60px;
    font-size: bold;
    font-family: 'Satisfy', cursive;
    margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: 5px;
}

footer .title ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 767px) {
    footer .title ul {
        justify-content: center;
    }
}

footer .title ul li a i {
    font-size: 30px;
    color: #00205b;
}

footer .info ul li {
    margin-bottom: 50px;
}

footer .info ul li h2 {
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

@media (max-width: 767px) {
    footer .info ul li h2  {
        font-size: 25px;
    }
}

footer .info ul li p {
    
}
/* Start Footer */